<div ng-controller="thisApp.homeController as vm">
    <!--Search bar-->
    <header>
        <div class="form-group has-feedback nav-input-offset">
            <input type="text" class="form-control" placeholder="搜索商品">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </header>
    <!-- carousel -->
    <div style="height: 305px">
        <div uib-carousel active="active" interval="vm.Interval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;width: 100%">
                <!--<div class="carousel-caption">-->
                <!--<h4>Slide {{slide.id}}</h4>-->
                <!--<p>{{slide.text}}</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <!--function button-->
    <div class="button-frame">
        <ul class="button-side">
            <li ng-repeat="item in vm.buttonInfo">
                <a ng-href={{item.url}}>
                    <img src={{item.imagePath}} alt="Responsive image" class="img-responsive img-circle">
                    <p>{{item.contentName}}</p>
                </a>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <!--Class tile-->
    <div class="classic-frame">
        <ul>
            <li ng-repeat="item in vm.classification"><a><img src={{item.imagePath}} class="img-responsive classic-size"
                                                              alt="Responsive image" ng-click="vm.jumpToUrl(item.url)"></a>
            </li>
        </ul>
    </div>
</div>