<!DOCTYPE html>
<html lang="en" ng-app="thisApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>小鲜来了</title>
    <!-- TODO: At last we need use min file for execute-->
    <script src="component/jquery/dist/jquery.js"></script>
    <!-- Angular library-->
    <script src="component/angular/angular.js"></script>
    <!-- Angular route-->
    <script src="component/angular-route/angular-route.js"></script>
    <script src="module.js"></script>
    <script src="config.js"></script>
    <!-- angular bootstrap -->
    <script src="component/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="component/angular-bootstrap/ui-bootstrap-csp.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="component/bootstrap/dist/css/bootstrap.css">
    <link href="component/bootstrap/dist/css/bootstrap-theme.css">
    <script src="component/bootstrap/dist/js/bootstrap.js"></script>
    <!-- amaze UI -->
    <script src="component/amazeui/dist/js/amazeui.js"></script>
    <!--<script src="src/model/order/iscroll.js"></script>-->
    <link rel="stylesheet" href="src/css/amazeui.min.css">
    <!--<script src="src/model/order/date.js"></script>-->
    <!-- mobiscroll -->
    <script src="src/Mobiscroll-Angular/js/mobiscroll.custom-3.0.0-beta5.min.js"></script>
    <!-- TODO:why this style file must set rel attribute?? -->
    <link rel="stylesheet" href="src/Mobiscroll-Angular/css/mobiscroll.custom-3.0.0-beta5.min.css">
    <!-- angular-localstorage-->
    <script src="component/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!-- controller -->
    <script src="src/model/home/home.js"></script>
    <script src="src/model/detail/detail.js"></script>
    <script src="src/model/cart/cart.js"></script>
    <script src="src/model/menu/menu.js"></script>
    <script src="src/model/order/order.js"></script>
    <script src="src/model/login/login.js"></script>
    <script src="src/model/account/account.js"></script>
    <script src="src/model/orders/orders.js"></script>
    <script src="src/model/address/address.js"></script>
    <script src="src/model/address/editAddress.js"></script>
    <script src="src/model/password/password.js"></script>
    <script src="src/model/meals/meals.js"></script>

    <!-- service -->
    <script src="src/model/services/auth.js"></script>
    <script src="src/model/services/category.js"></script>
    <script src="src/model/services/goods.js"></script>
    <script src="src/model/services/addressService.js"></script>
    <script src="src/model/services/addressConfig.js"></script>
    <script src="src/model/services/order.js"></script>
    <script src="src/model/services/meals.js"></script>

    <!--custom css-->
    <link rel="stylesheet" href="src/css/index.css">
    <link rel="stylesheet" href="src/css/home.css">

    <link rel="stylesheet" href="src/css/menu.css">
    <link rel="stylesheet" href="src/css/detail.css">
    <link rel="stylesheet" href="src/css/cart.css">

    <link rel="stylesheet" href="src/css/account.css">

    <link rel="stylesheet" href="src/css/orders.css">
    <link rel="stylesheet" href="src/css/login.css">

    <link rel="stylesheet" href="src/css/address.css">

    <link rel="stylesheet" href="src/css/meals.css">

    <!-- 内容为空-->
    <!--<link rel="stylesheet" href="src/css/order.css">-->

</head>
<body>
    <!--<script type="text/ng-template" id="myModalContent.html">-->
        <!--<div class="modal-header">-->
            <!--<h3 class="modal-title" id="modal-title">{{vm.dialogTitle}}</h3>-->
        <!--</div>-->
        <!--<div class="modal-body" id="modal-body">-->
            <!--<p>{{vm.content}}</p>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>-->
            <!--<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>-->
        <!--</div>-->
    <!--</script>-->
    <div ng-view class="full-height"></div>
</body>
</html>