<div ng-controller="thisApp.ordersController as vm" style="height: 100%;background-color: #f5f5f5">
    <div class="full-width">
        <div class="orders-type" style="border-right: 1px solid #dddddd" ng-click="vm.displayGoodsOrder()"><p>商品订单</p></div>
        <div class="orders-type" ng-click="vm.displayMealsOrder()"><p>套餐订单</p></div>
        <div class="clearfix"></div>
    </div>
    <!-- goods orders -->
    <div class="orders-item" ng-repeat="item in vm.orders" ng-if="vm.displayType == 0">
        <div class="orders-item-title">
            <p class="pull-left">小鲜来了</p>
            <p class="pull-right">{{item.orderState}}</p>
            <div class="clearfix"></div>
        </div>
        <div class="order-goods-list">
            <ul class="full-width">
                <li class="order-goods-item" ng-repeat="subitem in item.orderDetailList">
                    <div class="orders-goods-image">
                        <img ng-src={{subitem.imageName}}>
                    </div>
                    <div class="orders-goods-information">
                        <div class="pull-right full-width">
                            <p class="pull-left">{{subitem.name}}</p>
                            <p class="pull-right">￥{{subitem.price}}</p>
                        </div>
                        <p>商品详细名称</p>
                        <p class="pull-right">x{{subitem.count}}</p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="orders-item-foot">
            <p class="pull-right">共{{item.totalCount}}件商品&nbsp&nbsp&nbsp&nbsp合计：￥{{item.totalPrice}}</p>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- meals orders -->
    <div class="orders-item" ng-if="vm.displayType == 1">
        <div class="orders-item-title">
            <p class="pull-left">{{vm.mealsOrder.mealsName}}</p>
            <p class="pull-right">{{vm.mealsOrder.orderState}}</p>
            <div class="clearfix"></div>
        </div>
        <div class="order-goods-list">
            <ul class="full-width">
                <li class="order-goods-item" ng-repeat="item in vm.mealsOrder.orderDetail">
                    <div class="orders-goods-image">
                        <img ng-src={{item.imageName}}>
                    </div>
                    <div class="orders-goods-information">
                        <div class="pull-right full-width">
                            <p class="pull-left">{{item.name}}</p>
                            <!--<p class="pull-right">{{item.price}}</p>-->
                        </div>
                        <p>{{item.detailName}}</p>
                        <p class="pull-right">x1</p>
                    </div>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div class="orders-item-foot">
            <p class="pull-right">套餐价格：￥{{vm.mealsOrder.totalPrice}}</p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>