<div ng-controller="thisApp.cartController as vm" style="height: 100%">
    <!--顶部通栏-->
    <header class="jd_topBar">
        <a class="icon_back" ng-click="vm.back()"></a>
        <h3>购物车</h3>
        <!--<a href="#"class="icon_menu"></a>-->
    </header>

    <!--店铺-->
    <div class="jd_shop">
        <div class="jd_shop_tit">
            <!--<div class="check_box">-->
            <!--<a href="#" class="jd_check_box"></a>-->
            <!--</div>-->
            <div class="shop_info">
                <div class="jd_logo f_left">
                    <!--<img src="images/buy-logo.png" alt="">-->
                    <span>小鲜来了</span>
                </div>
                <!--<div class="f_right tip m_r10">-->
                <!--您享受满79元免运费服务-->
                <!--</div>-->
                <div class="delete_box f_right" ng-click="vm.clearCart()">
                    <!--<span class="delete_up"></span>-->
                    <!--<span class="delete_down"></span>-->
                </div>
            </div>
        </div>
        <ul class="cart-list">
            <!--ng-repeat="item in vm.goodInfo" ng-if="item.selected"-->
            <li ng-repeat="item in vm.goods" ng-if="item.displayInCart">
                <span class="ashcan" ng-click="vm.clearItem($index)"></span>
                <a ng-href="#/detail"><img src={{item.imageName}} class="cart-list-pic"/></a>
                <div class="shop-list-mid">
                    <div class="tit" style="width: 60%;">
                        <a href="detail.html">{{item.name}}({{item.detailName}})</a>
                    </div>
                    <div class="clearfix"></div>
                    <small>销售量:{{item.sellCount}}　　　好评率:{{item.evaluate}}%</small>
                    <div class="am-gallery-desc">￥{{item.price}}/{{item.unit}}</div>
                </div>
                <div class="list-cart">
                    <div class="d-stock">
                        <a ng-class="{decreaseInline:item.bookingCount}" ng-show="item.bookingCount"
                           ng-click="vm.reduceGoodsCount($index)">-</a>
                        <input ng-class="{text_box_display:item.bookingCount}" ng-show="item.bookingCount"
                               ng-model="item.bookingCount" readonly>
                        <a class="increase" ng-click="vm.addGoodsCount($index)">+</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div style="height: 50px;width: 100%;">

    </div>
    <!--<div class="jd_win">-->
        <!--<div class="jd_win_box">-->
            <!--<div class="jd_win_tit">你确定删除该商品吗？</div>-->
            <!--<div class="jd_btn clearfix">-->
                <!--<a href="#" class="cancle f_left">取消</a>-->
                <!--<a href="#" class="submit f_right">确定</a>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

    <!-- boot -->
    <header class="fix-bot">
        <a class="list-js">合计：<i>{{vm.total}}元</i><em>({{vm.count}}份)</em></a>
        <a class="list-jsk" ng-click="vm.pay()">去结账</a>
    </header>
</div>