<div ng-controller="thisApp.cartController as vm" style="background-color:#f5f5f5;height: 100%">
    <div class="jd_shop">
        <div class="jd_shop_tit">
            <div class="shop_info">
                <div class="jd_logo f_left">
                    <span>小鲜来了</span>
                </div>
                <div class="delete_box f_right" ng-click="vm.clearCart()">
                </div>
            </div>
        </div>
        <ul class="cart-list">
            <li ng-repeat="item in vm.goods" ng-if="item.displayInCart">
                <span class="ashcan" ng-click="vm.clearItem($index)"></span>
                <a ><img src={{item.imageName}} class="cart-list-pic"/></a>
                <div class="shop-list-mid">
                    <div class="tit" style="width: 60%;">
                        <a >{{item.name}}({{item.detailName}})</a>
                    </div>
                    <div class="clearfix"></div>
                    <small>销售量:{{item.sellCount}}　　　好评率:{{item.evaluate}}%</small>
                    <div class="am-gallery-desc">￥{{item.price}}/{{item.unit}}</div>
                </div>
                <div class="list-cart">
                    <div class="d-stock">
                        <a ng-class="{decreaseInline:item.bookingCount}" ng-show="item.bookingCount"
                           ng-click="vm.reduceGoodsCount($index)">－</a>
                        <input ng-class="{text_box_display:item.bookingCount}" ng-show="item.bookingCount"
                               ng-model="item.bookingCount" readonly>
                        <a class="increase" ng-click="vm.addGoodsCount($index)">+</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!--<div style="height: 50px;width: 100%;">-->

    <!--</div>-->

    <!-- boot -->
    <header class="menu-booter">
        <a class="left">合计：<i>{{vm.total}}元</i></a>
        <!--<em>({{vm.count}}份)</em>-->
        <a class="right" ng-click="vm.pay()">去结账</a>
    </header>
</div>