<div ng-controller="thisApp.addressController as vm" style="height: 100%;background-color: #f5f5f5"">
    <ul class="address-list">
        <li ng-repeat="item in vm.addresses" ng-class="{curr:item.defaultAddress}">
            <p>收货人：{{item.name}}&nbsp;&nbsp;{{item.tel}}</p>
            <p class="order-add1">收货地址：{{item.Address1}}</p>
            <hr />
            <div class="address-cz">
                <label class="am-radio am-warning" ng-click="vm.setDefault($index)">
                    <input type="radio" name="defaultValue" ng-model="vm.radioValue" ng-value="$index"> 使用
                </label>
                <a ng-click="vm.editAddress(item.id)"><img src="src/resource/image/commonControl/bj.png" width="18" />&nbsp;编辑</a>
                <a ng-click="vm.deleteAddress($index)">删除</a>
            </div>
        </li>
    </ul>
    <header class="menu-booter" ng-click="vm.newAddress()">
        <a class="center" ng-click="vm.pay()"><i class="glyphicon glyphicon-plus"></i>新增地址</a>
    </header>
</div>