<div ng-controller="thisApp.editAddressController as vm" style="height: 100%;background-color: white;">
    <ul class="contact">
        <li>
            <div class="row">
                <div class="col-xs-6">
                    <select class="form-control" ng-change="vm.getZone()" ng-model="vm.cityZoneId" ng-options="item.id as item.Content for item in vm.cityZones">
                    </select>
                </div>
                <div class="col-xs-6">
                    <select class="form-control" ng-change="vm.getBuildings()" ng-model="vm.zoneId" ng-options="item.id as item.Content for item in vm.zones">
                    </select>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-xs-4">
                    <select class="form-control" ng-change="vm.getFloors()" ng-model="vm.buildingId" ng-options="item.id as item.Content for item in vm.buildings">
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" ng-change="vm.getNumbers(vm.floorId)" ng-model="vm.floorId" ng-options="item.id as item.Content for item in vm.floors">
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="vm.numberId" ng-options="item.id as item.Content for item in vm.number">
                    </select>
                </div>
            </div>
        </li>
        <li><input type="text" placeholder="请输入姓名" ng-model="vm.name"/></li>
        <li><input type="text" placeholder="请输入手机号" ng-model="vm.telno"/></li>
    </ul>
    <!--<button class="paybtn" type="button" ng-click="vm.confirm()">确定</button>-->
    <header class="menu-booter">
        <a class="center" ng-click="vm.confirm()"><i class="glyphicon glyphicon-plus"></i>保存地址</a>
    </header>
</div>