<div ng-controller="thisApp.editAddressController as vm" style="height: 100%;background-color: white;">
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="" style="border: 0;">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="menu-header-text">
            <a style="color: #333;">新增收货地址</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <ul class="contact">
        <li>
            <select class="form-control ">
                <option ng-repeat="item in vm.Cell">{{item}}</option>
            </select>
        </li>
        <li>
            <div class="row">
                <div class="col-xs-4">
                    <select class="form-control ">
                        <option>11栋</option>
                        <option>22栋</option>
                        <option>33栋</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control ">
                        <option>11层</option>
                        <option>21层</option>
                        <option>31层</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control ">
                        <option>19号</option>
                        <option>29号</option>
                        <option>39号</option>
                    </select>
                </div>
            </div>
        </li>
        <li><input type="text" placeholder="请输入姓名"/></li>
        <li><input type="text" placeholder="请输入手机号"/></li>
    </ul>
    <button class="paybtn" type="button" ng-click="vm.confirm()"> 确定</button>
</div>