<div ng-controller="thisApp.menuController as vm" style="height: 100%">
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-right am-header-nav">
            <button type="button" class="am-btn am-btn-warning" id="doc-confirm-toggle"
                    style="background: none; border: 0; font-size: 24px;">
                <i class="am-header-icon am-icon-trash"></i>
            </button>
        </div>
    </header>
    <div class="content-list" id="outer">
        <div class="list-left" id="tab">
            <li ng-repeat="item in vm.goodInfo" ng-class="{current:item.selected}"
                ng-click="vm.clickClassification($index)"><a>{{item.classification}}</a></li>
        </div>

        <div class="list-right" id="content">
            <ul class="list-pro" ng-repeat="item in vm.goodInfo" ng-if="item.selected">
                <li ng-repeat="subItem in item.goods">
                    <a ng-href="#/detail"><img src={{subItem.src}} class="list-pic"/></a>
                    <div class="shop-list-mid">
                        <div class="tit"><a href="detail.html">{{subItem.goodName}}({{subItem.goodDetail}})</a></div>
                        <small>销售量:{{subItem.sellCount}}　　　好评率:{{subItem.goodEvaluate}}%</small>
                        <div class="am-gallery-desc">￥{{subItem.price}}</div>
                    </div>
                    <div class="list-cart">
                        <div class="d-stock">
                            <a ng-class="{decreaseInline:subItem.bookingCount}" ng-show="subItem.bookingCount"
                               ng-click="vm.reduceGoodsCount($parent.$index,$index)">-</a>
                            <input ng-class="{text_box_display:subItem.bookingCount}" ng-show="subItem.bookingCount"
                            ng-model="subItem.bookingCount">
                            <a class="increase" ng-click="vm.addGoodsCount($parent.$index,$index)">+</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--底部-->
    <div style="height: 100px;"></div>
    <div class="fix-bot">
        <a href="" class="list-js">合计：<i>0元</i><em>(0份)</em></a>
        <a href="" class="list-jsk">选好了</a>
    </div>
    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-bd" style="height: 80px; line-height: 80px;"> 您确定要清空饮品吗？</div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
</div>