.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    border-color: #dddddd white #dddddd #5bc0de;
    display:block;
    padding:10px 5px;
}

.nav-tabs > li > a{
    margin-right: -1px;
}

.item-size{
    height: 15%;
    padding-top: 3%;
    border-bottom: 1px solid lightgray;
}

.item-img-size{
    width: 30%;
    height: auto;
}

.item-info{
    width: 70%;
    height: auto;
    padding: 0 10px;
}

.plus-picture-position{
    margin: 2px 2px 0 2px;
    color: #428bca;
}