html,body{
    height: 100%;
    width: 100%;
}

.full-height{
    height: 100%;
}

.nav-input-offset{
    margin-top: 7px;
    margin-bottom: 0;
}

.navbar{
    margin-bottom: 0;
}

.searchBar-body{
    margin:0 auto;
}

.carousel-size{
    margin: 0 auto;
    height: 30%;
}

.button-frame{
    width:100%;
    margin-top: 1%;
    height: auto;
}

.buttonSide{
    width: 96%;
    margin:0 auto;
    height: auto;
}

.function-button{
    float: left;
    margin-left: 4%;
    width:20%;
}

.classic-frame{
    margin-top: 1%;
}

.classic-size{
    width: 33.33%;
    float: left;
    border: 1px solid red;
}