.nav-input-offset{
    margin: 10px;
}

.navbar{
    margin-bottom: 0;
}

.searchBar-body{
    margin:0 auto;
}

.carousel-size{
    margin: 0 auto;
    height: 30%;
}

.button-frame{
    width:100%;
    margin-top: 1%;
    height: auto;
}

.buttonSide{
    width: 96%;
    margin:0 auto;
    height: auto;
}

.button-side>li>img{
    float: left;
    margin-left: 4%;
    width:20%;
}

.classic-frame{
    margin-top: 1%;
}

.classic-size{
    width: 33.33%;
    float: left;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}