.header-index {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #14aebd;
}

.header-index > h1{
    height: 50px;
    font-size: 20px;
    background-color: #14aebd;
    margin: 0;
}

.login-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    background-color: #fff;
    margin: 0 4px 0 5px;
}

.login-title a {
    margin-right: 1px;
    border-bottom: 2px solid #ddd;
    color: #333;
    font-size: 14px;
    /*height: 16px;*/
    line-height: 16px;
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    text-decoration: none;
}

.login-title .cur {
    border-bottom: 2px solid #ff8400;
}

.login-inner {
    margin: 10px 30px;
}

.login-inner > .alert{
    padding:7px;
    margin-bottom: 5px;
}

/*.login-inner2 > .alert{*/
    /*padding:7px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.login-inner2 {*/
    /*margin: 25px 30px;*/
/*}*/

.login-inner .notice, .login-inner2 .notice {
    font-size: 12px;
    color: #666;
    border: 1px solid #e7cdb3;
    height: 29px;
    line-height: 29px;
    padding-left: 34px;
    /*background: url(../images/notice.png) no-repeat 10px 0 #fff5de;*/
    -webkit-background-size: 17px 29px;
    background-size: 17px 29px;
    margin-bottom: 10px;
}

.login-inner .txt {
    margin-top: 5px;
}

.login-inner .txt a {
    color: #14aebd;
}

.notice {
    background: #f7e8d6;
    padding: 0.5em 2em 0.5em 1em;
    color: #333;
    font-size: 16px;
    line-height: 1.75em;
    position: relative;
}

.input-txt {
    font-size: 14px;
    margin-bottom: 20px;
    color: #999;
    padding: 0 10px;
    display: block;
    width: 100%;
    border: 1px solid #dddddd;
    height: 39px;
    line-height: normal;
    background-color: #fff;
}

.submit-btn {
    padding: 0 10px;
    margin: 15px 0 5px;
}

.submit-btn input {
    background-color: #fff;
    color: #14aebd;
    height: 50px;
    line-height: 48px;
    border: 1px solid #14aebd;
    width: 100%;
    display: block;
}

.submit-btn2 {
    font-size: 14px;
    width: 100%;
    display: block;
    color: #fff !important;
    background-color: #14aebd;
    text-align: center;
    line-height: 30px;
    height: 30px;
    border: none;
}

.submit-btn {
    font-size: 18px;
    width: 100%;
    display: block;
    color: #fff;
    background-color: #14aebd;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border: none;
}