
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    line-height: 1.6;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

* {
    margin: 0;
    padding: 0
}

a img {
    border: 0
}

a {
    text-decoration: none
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: weui;
    src: url('../other/WgKGxMKqKIKARQbCqKoChsTCqiiCgEUGwqiAAAAABAAxgABAAAAAAABAAQAAAABAAAAAAACAAcABAABAAAAAAADAAQACwABAAAAAAAEAAQADwABAAAAAAAFAAsAEwABAAAAAAAGAAQAHgABAAAAAAAKACsAIgABAAAAAAALABMATQADAAEECQABAAgAYAADAAEECQACAA4AaAADAAEECQADAAgAdgADAAEECQAEAAgAfgADAAEECQAFABYAhgADAAEECQAGAAgAnAADAAEECQAKAFYApAADAAEECQALACYA+ndldWlSZWd1bGFyd2V1aXdldWlWZXJzaW9uIDEuMHdldWlHZW5lcmF0ZWQgYnkgc3ZnMnR0ZiBmcm9tIEZvbnRlbGxvIHByb2plY3QuaHR0cDovL2ZvbnRlbGxvLmNvbQB3AGUAdQBpAFIAZQBnAHUAbABhAHIAdwBlAHUAaQB3AGUAdQBpAFYAZQByAHMAaQBvAG4AIAAxAC4AMAB3AGUAdQBpAEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAAAIAAAAAAAAACgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAECAQMBBAEFAQYBBwEIAQkBCgELAQwBDQEOAQ8BEAERAAZjaXJjbGUIZG93bmxvYWQEaW5mbwxzYWZlX3N1Y2Nlc3MJc2FmZV93YXJuB3N1Y2Nlc3MOc3VjY2Vzc19jaXJjbGURc3VjY2Vzc19ub19jaXJjbGUHd2FpdGluZw53YWl0aW5nX2NpcmNsZQR3YXJuC2luZm9fY2lyY2xlBmNhbmNlbAZzZWFyY2gFY2xvc2UAAAAA') format('truetype')
}

.weui_cell {
    position: relative
}

.weui_cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px
}

.weui_cell:first-child:before {
    display: none
}

.weui_cell {
    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.weui_cell_ft {
    text-align: right;
    color: #888
}

.weui_cell_primary {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.weui_cells_access .weui_cell:not(.no_access) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.weui_cells_access .weui_cell:not(.no_access):active {
    background-color: #ececec
}

.weui_cells_access a.weui_cell {
    color: inherit
}

.weui_cells_access .weui_cell_ft:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    position: relative;
    top: -2px;
    top: -1px;
    margin-left: .3em
}

.weui_cells_radio .weui_cell_ft {
    padding-left: .35em
}

.weui_cells_radio .weui_cell:active {
    background-color: #ececec
}

.weui_cells_checkbox .weui_cell:active {
    background-color: #ececec
}

.weui_cells_form .weui_cell_ft {
    font-size: 0
}

.weui_cells_form input,
.weui_cells_form label[for],
.weui_cells_form textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.weui_vcode .weui_cell_ft img {
    margin-left: 5px;
    height: 44px;
    vertical-align: middle
}

.weui_uploader_hd .weui_cell_ft {
    font-size: 1em
}

.weui_msg .weui_extra_area a {
    color: #61749b
}

@media screen and (min-height:438px) {
}

.weui_article section {
    margin-bottom: 1.5em
}

.weui_article h1 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: .75em
}

.weui_article h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: .3em
}

.weui_article h3 {
    font-weight: 400;
    font-size: 15px
}

.weui_article * {
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word
}

.weui_article p {
    margin: 10px 0
}

.weui_tabbar_icon img {
    display: block;
    width: 100%;
    height: 100%
}

.weui_navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #fafafa
}

.weui_navbar:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #bcbab6;
    color: #bcbab6;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.weui_navbar+.weui_tab_bd {
    padding-top: 50px;
    padding-bottom: 0
}

.weui_tab {
    position: relative;
    height: 100%
}

.weui_tab_bd {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 55px;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.weui_panel {
    background-color: #fff;
    margin-top: 10px;
    position: relative;
    overflow: hidden
}

.weui_panel:first-child {
    margin-top: 0
}

.weui_panel:before {
    top: 0;
    border-top: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.weui_panel:after,
.weui_panel:before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    color: #e5e5e5
}

.weui_panel:after {
    bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.weui_panel_hd {
    padding: 14px 15px 10px;
    color: #999;
    font-size: 13px;
    position: relative
}

.weui_panel_hd:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px
}

.weui_media_box {
    padding: 15px;
    position: relative
}

.weui_media_box:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px
}

.weui_media_box:first-child:before {
    display: none
}

a.weui_media_box {
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a.weui_media_box:active {
    background-color: #ececec
}

.weui_media_box .weui_media_desc {
    color: #999;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.weui_media_box.weui_media_appmsg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.weui_media_box.weui_media_appmsg .weui_media_hd {
    margin-right: .8em;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center
}

.weui_media_box.weui_media_appmsg .weui_media_appmsg_thumb {
    width: 100%;
    max-height: 100%;
    vertical-align: middle
}

.weui_media_box.weui_media_appmsg .weui_media_bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0
}

.weui_grid_icon img {
    display: block;
    width: 100%;
    height: 100%
}

.weui_dialog_ft a {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #3cc51f;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.weui_dialog_ft a:active {
    background-color: #eee
}

.weui_dialog_confirm .weui_dialog_ft a {
    position: relative
}

.weui_dialog_confirm .weui_dialog_ft a:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5)
}

.weui_dialog_confirm .weui_dialog_ft a:first-child:after {
    display: none
}

@media screen and (min-width:1024px) {
}

@-webkit-keyframes a {
    0%,
    0.01% {
        opacity: .25
    }
    0.02% {
        opacity: 1
    }
    60.01%,
    to {
        opacity: .25
    }
}

@-webkit-keyframes b {
    0%,
    8.34333% {
        opacity: .25
    }
    8.35333% {
        opacity: 1
    }
    68.3433%,
    to {
        opacity: .25
    }
}

@-webkit-keyframes c {
    0%,
    16.6767% {
        opacity: .25
    }
    16.6867% {
        opacity: 1
    }
    76.6767%,
    to {
        opacity: .25
    }
}

@-webkit-keyframes d {
    0%,
    25.01% {
        opacity: .25
    }
    25.02% {
        opacity: 1
    }
    85.01%,
    to {
        opacity: .25
    }
}

@-webkit-keyframes e {
    0%,
    33.3433% {
        opacity: .25
    }
    33.3533% {
        opacity: 1
    }
    93.3433%,
    to {
        opacity: .25
    }
}

@-webkit-keyframes f {
    0% {
        opacity: .270958333333333
    }
    41.6767% {
        opacity: .25
    }
    41.6867% {
        opacity: 1
    }
    1.67667% {
        opacity: .25
    }
    to {
        opacity: .270958333333333
    }
}

@-webkit-keyframes g {
    0% {
        opacity: .375125
    }
    50.01% {
        opacity: .25
    }
    50.02% {
        opacity: 1
    }
    10.01% {
        opacity: .25
    }
    to {
        opacity: .375125
    }
}

@-webkit-keyframes h {
    0% {
        opacity: .479291666666667
    }
    58.3433% {
        opacity: .25
    }
    58.3533% {
        opacity: 1
    }
    18.3433% {
        opacity: .25
    }
    to {
        opacity: .479291666666667
    }
}

@-webkit-keyframes i {
    0% {
        opacity: .583458333333333
    }
    66.6767% {
        opacity: .25
    }
    66.6867% {
        opacity: 1
    }
    26.6767% {
        opacity: .25
    }
    to {
        opacity: .583458333333333
    }
}

@-webkit-keyframes j {
    0% {
        opacity: .687625
    }
    75.01% {
        opacity: .25
    }
    75.02% {
        opacity: 1
    }
    35.01% {
        opacity: .25
    }
    to {
        opacity: .687625
    }
}

@-webkit-keyframes k {
    0% {
        opacity: .791791666666667
    }
    83.3433% {
        opacity: .25
    }
    83.3533% {
        opacity: 1
    }
    43.3433% {
        opacity: .25
    }
    to {
        opacity: .791791666666667
    }
}

@-webkit-keyframes l {
    0% {
        opacity: .895958333333333
    }
    91.6767% {
        opacity: .25
    }
    91.6867% {
        opacity: 1
    }
    51.6767% {
        opacity: .25
    }
    to {
        opacity: .895958333333333
    }
}

.weui_search_text span {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    display: none
}




body, html {font-family:"黑体"; height: 100%;  -webkit-tap-highlight-color: transparent; background-color: #F0F1EC; }

footer {  text-align: center;  font-size: 14px;  padding: 20px;  }

footer a {color: #999;text-decoration: none;}

.title{text-align: center;background-color: #D7152D;color: #FFFFFD;height: 50px;line-height: 50px;font-size: 22px;width: 100%;}

.shop_img img{ width: 100%;  height: 100%;}

.back{position: absolute;left: 8px;font-style: normal;color: #fff;}

.weui_cell{background-color: #fff;padding: 20px 15px 10px 15px;}

.bd{margin-top: 3px;background-color: #fff;padding: 20px 15px;}

.content{margin-bottom: 60px;}

.weui_cell_2 .weui_cell_ft{color: #383933;}

.back{display: block;width:25px;height:25px;background: url('../images/back.png') center no-repeat;background-size: 100%;margin-top: 10px;}

@-webkit-keyframes preloader-spin {

    100% {

        -webkit-transform: rotate(360deg);

        transform: rotate(360deg);

    }

}

@keyframes preloader-spin {

    100% {

        -webkit-transform: rotate(360deg);

        transform: rotate(360deg);

    }

}

/*

.hairline(@position, @color) when (@position = top) {

  border-top: 1px solid @color;

}

.hairline(@position, @color) when (@position = left) {

  border-left: 1px solid @color;

}

.hairline(@position, @color) when (@position = bottom) {

  border-bottom: 1px solid @color;

}

.hairline(@position, @color) when (@position = right) {

  border-right: 1px solid @color;

}

// For right and bottom

.hairline-remove(@position) when not (@position = left) and not (@position = top) {

  border-left: 0;

  border-bottom: 0;

}

// For left and top

.hairline-remove(@position) when not (@position = right) and not (@position = bottom) {

  border-right: 0;

  border-top: 0;

}

// For right and bottom

.hairline-color(@position, @color) when not (@position = left) and not (@position = top) {

  border-right-color: @color;

  border-bottom-color: @color;

}

// For left and top

.hairline-color(@position, @color) when not (@position = right) and not (@position = bottom) {

  border-left-color: @color;

  border-top-color: @color;

}

*/

html {

    font-size: 20px;

}

body {

    font-size: 16px;

}

@media only screen and (min-width: 400px) {

    html {

        font-size: 21.33333333px !important;

    }

}

@media only screen and (min-width: 414px) {

    html {

        font-size: 22.08px !important;

    }

}

@media only screen and (min-width: 480px) {

    html {

        font-size: 25.6px !important;

    }

}

.weui_navbar {

    z-index: 10;

}

/* === Grid === */

.weui-row > [class*="col-"] {

    box-sizing: border-box;

}

.weui-row .col-auto {

    width: 100%;

}

@media all and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

.weui-pull-to-refresh-layer .down {

    display: inline-block;

}

.weui-pull-to-refresh-layer .up,

.weui-pull-to-refresh-layer .refresh {

    display: none;

}

.pull-up .weui-pull-to-refresh-layer .down,

.refreshing .weui-pull-to-refresh-layer .down {

    display: none;

}

.pull-up .weui-pull-to-refresh-layer .up {

    display: inline-block;

}

.pull-down .weui-pull-to-refresh-layer .down {

    display: inline-block;

}

.refreshing .weui-pull-to-refresh-layer .refresh {

    display: inline-block;

}

@keyframes preloader-spin {

    100% {

        -webkit-transform: rotate(360deg);

        transform: rotate(360deg);

    }

}

.weui_tab {

    overflow: hidden;

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

}

.toolbar .title {

    position: absolute;

    display: block;

    width: 100%;

    padding: 0;

    font-size: .85rem;

    font-weight: normal;

    line-height: 2.2rem;

    color: #3d4145;

    text-align: center;

    white-space: nowrap;

}

/* === Columns Picker === */

@media (orientation: landscape) and (max-height: 415px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

}

/* === Calendar === */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

}

.picker-calendar-day.picker-calendar-day-today span {

    background: #e3e3e3;

}

.picker-calendar-day.picker-calendar-day-selected span {

    background: #04BE02;

    color: #fff;

}

.picker-calendar-day span {

    display: inline-block;

    border-radius: 100%;

    width: 30px;

    height: 30px;

    line-height: 30px;

}

.picker-calendar-month-picker span,

.picker-calendar-year-picker span {

    -webkit-flex-shrink: 1;

    -ms-flex: 0 1 auto;

    -webkit-flex-shrink: 1;

    -ms-flex-negative: 1;

    flex-shrink: 1;

    position: relative;

    overflow: hidden;

    text-overflow: ellipsis;

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

}

i.icon {

    display: inline-block;

    vertical-align: middle;

    background-size: 100% auto;

    background-position: center;

    background-repeat: no-repeat;

    font-style: normal;

    position: relative;

}

/**

 * Swiper 3.3.1

 * Most modern mobile touch slider and framework with hardware accelerated transitions

 *

 * http://www.idangero.us/swiper/

 *

 * Copyright 2016, Vladimir Kharlampidi

 * The iDangero.us

 * http://www.idangero.us/

 *

 * Licensed under MIT

 *

 * Released on: February 7, 2016

 */

/* Auto Height */

/* a11y */

/* IE10 Windows Phone 8 Fixes */

/* Arrows */

/* Pagination Styles */

/* Common Styles */

/* Bullets */

/* Progress */

/* 3D Container */

/* Coverflow */

/* Cube + Flip */

/* Cube */

/* Fade */

/* Scrollbar */

/* Preloader */

@-webkit-keyframes swiper-preloader-spin {

    100% {

        -webkit-transform: rotate(360deg);

    }

}

@keyframes swiper-preloader-spin {

    100% {

        -webkit-transform: rotate(360deg);

        transform: rotate(360deg);

    }

}

.weui-popup-modal .modal-content {

    height: 100%;

    padding-top: 2.2rem;

    overflow: auto;

    box-sizing: border-box;

}

.notification .notification-media img {

    width: 100%;

}

.weui-photo-browser-modal .photo-container img {

    max-width: 100%;

    margin-top: -30px;

}

.weui-photo-browser-modal .caption {

    position: absolute;

    bottom: 40px;

    left: 0;

    right: 0;

    color: white;

    text-align: center;

    padding: 0 12px;

    min-height: 3rem;

    font-size: 14px;

    z-index: 10;

    -webkit-transition: opacity .3s;

    transition: opacity .3s;

    -webkit-transition-delay: .5s;

    transition-delay: .5s;

    opacity: 0;

}

.weui-photo-browser-modal .caption .caption-item {

    display: none;

    opacity: 0;

    -webkit-transition: opacity .15s;

    transition: opacity .15s;

}

.weui-photo-browser-modal .caption .caption-item.active {

    display: block;

    opacity: 1;

}

.weui-photo-browser-modal .swiper-container-visible .caption {

    opacity: 1;

}

.color-primary {

    color: #04BE02;

}

.color-danger,

.color-error {

    color: #f6383a;

}

.color-warning {

    color: #f60;

}

.color-success {

    color: #4cd964;

}

.bg-primary {

    background-color: #04BE02;

}

.bg-warning {

    background-color: #f60;

}

.bg-success {

    background-color: #4cd964;

}

